.list--header {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list--header h2 {
  color: #526d82;
}

.teacher--title h2 {
  color: #526d82;
  margin: 0;
}

.teacher--columns {
  display: flex;
  gap: 80px;
  color: #526d82;
  font-weight: 600;
}

.list--header select {
  border-radius: 10px;
  border: none;
  padding: 8px 12px;
  border: 1px solid #dde6ed;
  color: #526d82;
}

.list--container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  padding: 5px;
}

.list:hover {
  background: #dde6ed;
  border-radius: 10px;
}

.teacher--detail {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #526d82;
}

.teacher--detail img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  background: #dde6ed;
  border-radius: 50%;
}


.teacher--pricing {
  display: flex;
  gap: 30px; 
  align-items: center;
}

.teacher--pricing span {
  min-width: 120px; 
  text-align: right; 
}

.teacher--todo {
  font-size: 24px;
  color: #526d82;
  cursor: pointer;
}